.row {
    margin-top: 30px;
}

.card {
    border: 4px solid #000;
    height: 9rem;
    text-align: center;
    border-radius: 10px;
}

h5.card-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.bi {
    font-size: 3rem;
}